h1 {
    background-color: rgb(57, 208, 228);
    color: black;
    text-align: center;
}
h2 {
    color: black;
    background-color: rgb(57, 208, 228);
    text-align: center;
}
html {
    background-color: rgb(107, 110, 136);
}
.img {
    border-radius: 5px;
    display: flexbox;
    
}